@import "tailwindcss";
@keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeDown {
    animation: fadeDown 0.7s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
  }
  .wave-shape {
    clip-path: polygon(0% 50%, 10% 60%, 20% 70%, 30% 80%, 40% 85%, 50% 90%, 
                       60% 85%, 70% 80%, 80% 70%, 90% 60%, 100% 50%, 
                       100% 100%, 0% 100%);
  }
  